@page
@using Microsoft.AspNetCore.Identity
@using WebApplication2.Model
@model IndexModel

@inject SignInManager<ApplicationUser> SingInManager

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
@if(SingInManager.IsSignedIn(User))
    {
        if (User.IsInRole("ADMIN"))
        {
            <h1 class="display-4">Bienvenido admin</h1>
            <Partial name="Shared/Index/_IndexAdminPartial" />
        }
        else if(User.IsInRole("CLIENTE"))
        {
            <h1 class="display-4">Bienvenido cliente</h1>
        }
        else if(User.IsInRole("RECEPCIONISTA"))
        {
            <h1 class="display-4">Bienvenido recepcionista</h1>
        }
        else if(User.IsInRole("OPERADOR"))
        {
            <h1 class="display-4">Bienvenido operador</h1>
        }
    }
    else
    {
        <h1 class="display-4">Bienvenido invitado</h1>
    }
</div>
